<div class="container-fluid" >
	<div class="col-md-10 mx-auto bg-light">
		<div class="row my-5">
			<div class="col-sm-8 mx-auto bg-light">
				<div><h2 class="font-weight-bold mt-5 align-middle text-primary text-center">{{article.title}}</h2></div>								
					<div class="card md-10 mx-auto bg-light border-0">
						<div class="row">
							<div class= "col-md-10 mx-auto my-3">
								<pre>{{date.toLocaleDateString()}} 	by {{article.author}}</pre>
							</div>
							<div class= "col-md-10 mx-auto ">
								<p>{{article.body}}</p>
							</div>
							<div class= "col-md-10 mx-auto mb-6"><h5 class="text-light bg-dark"> Comments</h5>
								<div class= "border mb-3 p-3 mx-auto" style="height:50%;line-height:2em;overflow:auto">
									<ul style="list-style:none" ng-repeat="info in comments| limitTo:5">
										<li>
											<div class = "border border-secondary rounded">
												<label class="font-weight-bold">username {{info.userID.username}}</label> <!--I do not know if I can do this-->
												<p class="">Hello this is a test comment.{{info.comment}}</p>			
											</div>
											<div>
												<span class="date sub-text">on March 5th, 2014 {{info.timestamp}}</span>
												<a ng-show="isUser(username)" href="#" class ="float-right">delete</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				<div class= "col-md-11 mx-auto">
					<form>
						<div class="form-group">
							<textarea class="form-control col-md-11 mx-auto " type="text" placeholder="Your comments" ></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-default float-right mb-5">Add</button>
						</div>
					</form>
				</div>
			</div>
		
			<div class= "col-sm-4 bg my-5"  >
				<div class="card bg-dark">
					<div class="btn-group mx-auto " role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary bg-dark border-0" ng-click="issueOption()">New Issues</button>
						<button type="button" class="btn btn-secondary bg-dark border-0" ng-click="articleOption()">New Article</button>
					</div>
				</div>
				<div  class="card" ng-repeat= "item in articleList| limitTo:10|orderBy :'-articleId'" ng-if="item.articleId!=article.articleId" ng-show="articleMode">
					<div class="row">
						<div class="col-10 mx-auto pl-2">
							<a  href="/article/{{item.articleId}}" > 
								{{item.title}}
							</a>
						</div>
					</div>
				</div>
				<div class="card" ng-repeat= "issue in issueList| limitTo:10|orderBy :'-issueID'" ng-show="!articleMode">
					<div class="row">
						<div class="col-sm-4">
							<a href='/issue/{{issue.issueID}}'> <img style="width:100px; height:85%;" class="card-img-top ml-3 mt-3" src="{{issue.coverImage}}" alt="Issue Image"> </a>
						</div>
						<div class="col-sm-6">
							<div class="card-body">
								<a  href="/issue/{{issue.issueID}}" > <!-- add this before issue/...  /book/{{book.bookID}}"-->
									<h5 class="card-title">{{issue.title}} </h5>
								</a>
								<p class="card-text">Volume #: {{issue.volume}}</p>
								<p class="card-text">Issue #: {{issue.issueNum}}</p>
								<p class="card-text">Year: {{issue.year}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>	