<div class="container bg-light my-5">
	<div class="row">
		<div class="col-md-8 mx-auto pt-2">
			<div class="py-auto">
				<h3 style="text-align: left">{{book.title}}</h3>
				<h4 style="text-align: left">{{book.publisher}}</h4>
				<h6 style="text-align: left">{{month}} {{year}}</h6>
				<p>{{numOfIssues}} Issues</p>
			</div>
			<div class="card my-2" ng-repeat="issue in issueList | orderBy:['volume', 'issueNum']">
				<div class="row">
					<div class="col">
						<a href="/issue/{{issue.issueID}}">
							<img style="width:50%; height:75%;" class="card-img-top mt-3 ml-3" src="{{issue.coverImage}}" alt="Card image">
						</a>
					</div>
					<div class="col pt-1 my-auto mx-auto">
				 			<h6 class="card-text font-weight-bold">	{{issue.title}}</h6>
				 			<h6 class="card-text">	Volume: {{issue.volume}}<br />
				 									Issue Number: {{issue.issueNum}}<br />
				 									Average User Rating: {{issue.rating}}

				 			</h6>
				 	</div>
				</div>
			</div>
			<div class="mx-auto my-5">
				<a class="btn btn-primary" href="/book/{{book.bookID}}/createIssue" role="button">Add New Issue</a>
			</div>
		</div>
	</div>
</div>