<div class="container bg-light">
	<div class="row w-100">
		<div class="col-md-8 mx-auto">
			<div class="w-50 mx-auto">
				<h3 style="text-align: center">{{book.title}}</h3>
				<h4 style="text-align: center">{{book.publisher}}</h4>
				<h4 style="text-align: center">{{book.publishDate}}</h4>
			</div>
			<div class="card" ng-repeat="issue in list">
				{{issue}}
			</div>
			{{numIssues}}
			<div class="mx-auto">
				<button type="button" class="btn btn-primary" href="/book/{{book.id}}/issue">Add New Issue</button>
			</div>
		</div>
	</div>
</div>