<div class="container">
	<!--approx template:-->
<div class="card w-90">
  <div class="card-body">
    <h5 class="card-title">Book</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>
</div>
	<div class="card" ng-repeat="book in books">
		<div class="row">
			<div class="col-4">
				<img class="card-img-top" src="placeholder.png" alt="Series image" href="/book/angularstuffhere">
			</div>
			<div class="col-8">
				<div class="card-body">
					<h5 class="card-title">{{book.title}}</h5></h5>
					<p class="card-text">Number of Issues: {{book.numberOfIssues}}</p>
				</div>
			</div>
		</div>
	</div>
</div>