<div class="container-fluid">
	<div class="row mx-5 my-5">
		<div class="col-md-7 bg-dark">
			<h2 class = "text-light font-weight-bold" style="margin:3%">Create Article</h2>
      
			<form ng-submit="formSubmit()" class="form-center">
        
				<div class="col-md-11">
					<div class="form-group">
						<input type="text" class="form-control" ng-model="article.title" placeholder="Title of Article" required focus/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="article.author" placeholder="Author" required/>
					</div> 

					<div class="form-group">
						<textarea type="text" rows="10" class="form-control" ng-model="article.body" placeholder="Body" required/></textarea>
					</div>

					<div class="form-group" style="margin-left:10px">
						<button type="submit" ng-click="createArticle(article)" class="btn btn-success">Submit</button>
					</div>
						
				</div>
			</form>
			<div  ng-show= "error" class="alert alert-danger" role="alert">{{error}}</div>
		</div>
	</div>
</div>