<div class="container-fluid" >
	<div class="row my-5">
		<div class="col-md-10 mx-auto bg-light">
			<div><h2 class="font-weight-bold my-4 align-middle text-primary text-center">{{issue.title}}</h2></div>								
				<div class="card md-10 mx-auto bg-light border-0">
					<div class="row">
						<div class="mx-auto col-2">
							<img src="{{issue.coverImage}}" style="width:225px; height:250px;" alt="Issue Image">
						</div>
						<div class="col-8">
							<div class="card-body">
								<p class="card-text">Volume #: {{issue.volume}}</p> <!-- change {{issue.volume}}{{issue.volumeNum}}-->
								<p class="card-text">Issue #: {{issue.issueNum}}</p>
								<p class="card-text">Year: {{issue.year}}</p>
								<p class="card-text">Writer(s): {{writer}} </p>
								<p class="card-text">Illustrator(s): {{illustrator}}</p>
								<p class="card-text">Character(s): {{character}}</p>
							</div>
						</div>
						<div class= "col-md-10 mx-auto my-3">
							<h5 class="text-light bg-dark"> Summary</h5>
							<p>{{issue.summary}}</p>
						</div>
						<div class= "col-md-10 mx-auto mb-3">
							<h5 class="text-light bg-dark"> Synopsis</h5>
							<p>{{issue.synopsis}}</p>
						</div>
						<div class= "col-md-10 mx-auto mb-5"><h5 class="text-light bg-dark"> Comments</h5>
							<div class= "border mb-3 p-3 mx-auto" style="height:50%;line-height:2em;overflow:auto">
						<ul style="list-style:none" ng-repeat="info in comments| limitTo:5">
							<li>
								<div class = "border border-secondary rounded">
									<label class="font-weight-bold">username {{info.userID.username}}</label> <!--I do not know if I can do this-->
									<p class="">Hello this is a test comment.{{info.comment}}</p>			
								</div>
								<div>
								<span class="date sub-text">on March 5th, 2014 {{info.timestamp}}</span>
								<a ng-show="isUser(username)" href="#" class ="float-right">delete</a>
								</div>
							</li>
						</ul>
						
					</div>
					<form>
						<div class="form-group">
							<textarea class="form-control col-md-11 mx-auto " type="text" placeholder="Your comments" ></textarea>
						</div>
						<div class="form-group">
							<button class="btn btn-default float-right mb-5">Add</button>
						</div>
					</form>
				</div>
					</div>
				</div>
				
		</div>
	</div>
</div>	