<div class="container-fluid" >
	<div class="row my-5">
		<div class="col-md-10 mx-auto bg-light">
			<div class= "mt-5 ">
				<i class="fa fa-arrow-left"></i>
				<a class="ml-1 text-dark" href= "/book/{{issue.bookId}}" >  go back to Book</a></div>
			<div><h2 class="font-weight-bold my-4 align-middle text-primary text-center">{{issue.title}}</h2></div>								
				<div class="card md-10 mx-auto bg-light border-0">
					<div class="row">
						<div class="mx-auto col-4">
							<img src="{{issue.coverImage}}" style="width:50%; height:75%;" alt="Issue Image">
							<!--div class ="my-3 text-danger"> Rating:
								<span class="fa fa-star-o ml-2"></span>
								<span class="fa fa-star-o"></span>
								<span class="fa fa-star-o"></span>
								<span class="fa fa-star-o"></span>
								<span class="fa fa-star-o"></span>
							</div-->
							<div ng-init="rating = star.rating + 1"></div>
							<div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
							<!--div class ="my-3 text-danger">
								<span >{{rating.current}} out of {{rating.max}}
									<div startRating ratingValue= max= ></div>
									<jk-rating-stars max-rating="rating.max" rating="rating.current"  >
									</jk-rating-stars>
								</span>
							</div -->
						</div>
						
						<div class="col-7">
							<div class="card-body">
								<p class="card-text">Volume #: {{issue.volume}}</p> 
								<p class="card-text">Issue #: {{issue.issueNum}}</p>
								<p class="card-text">Year: {{issue.year}}</p>
								<p class="card-text d-inline">Writer(s): <div ng-repeat="writer in writers" class="d-inline">{{writer.writer}}, </div></p>
								<p class="card-text d-inline">Illustrator(s): <div ng-repeat="illustrator in illustrators" class="d-inline">{{illustrator.illustrator}}, </div></p>
								<p class="card-text d-inline">Character(s): <div ng-repeat="character in characters" class="d-inline">{{character.character}}, </div></p>
							</div>
						</div>
						<div class= "col-md-10 mx-auto my-3">
							<h5 class="text-light bg-dark"> Summary</h5>
							<pre style="white-space:pre-wrap;">{{issue.summary}}</pre>
						</div>
						<div class= "col-md-10 mx-auto mb-3">
							<h5 class="text-light bg-dark"> Synopsis</h5>
							<button type="button" class="btn btn-secondary btn-sm float-right" data-toggle="collapse" ng-click="isHidden()" data-target="#synopsis">{{label}}</button>
							<div id="synopsis" class="collapse mt-5">
								<pre style="white-space:pre-wrap;">{{issue.synopsis}}</pre>
							</div>	
						</div>
						<div class= "col-md-10 mx-auto mb-6">
							<nav class="navbar navbar-dark bg-dark">
								<h5 class="text-light bg-dark"> Comments</h5>
								<select ng-model="sortByOption" ng-click="commentMenu()"> 
									<option value= "" selected disabled hidden> Sort By </option>
									<option value={{item}} ng-repeat="item in sortBy" >{{item}}</option>
								</select>
							</nav>
							<div class= "border mb-3 p-3 mx-auto" style="height:100%;line-height:2em;overflow:auto">
								<ul style="list-style:none" ng-repeat="info in comments|orderBy:''">
									<li>
										<div class = "border border-secondary rounded mr-4 my-2">
											<span class="font-weight-bold ml-3 float-left">{{info.username}}</span>
											<span class="date sub-text float-right mr-4">on {{ setTime(info.timestamp)}}</span>	
											<br>			
											<p class="mx-3">{{info.comment}}</p>
											<!--a ng-show="isUser(username)" href="#" class ="float-right">delete</a-->
										</div>
									</li>
								</ul>
							</div>
						</div>
				</div>
				<div class= "col-md-11 mx-auto my-5">
					<form>
						<div class="form-group" ng-show="loggedIn">
							<textarea class="form-control col-md-11 mx-auto my-3 " type="text" ng-model="commentBox" placeholder="Write your comment" ></textarea>
							<button class="btn btn-default text-primary float-right" ng-click="createComment()">Add</button>
						</div>
						<div class="form-group text-primary col-md-11">
							<a href="/login" style="cursor:pointer">Log in</a>
							<a> or</a>	
							<a href="/signup" style="cursor:pointer">sign up </a>
							<a>to comment</a>
						</div>
					</form>
				</div>
			</div>
				
		</div>
	</div>
</div>	