<div class="container-fluid">
	<div class="row" position="relative" style="margin-top:3%;margin-bottom:3% ">
		<div class="col-sm-7">
		<!--new issues -->
			<div class="card bg-dark">
				<div class="btn-group mx-auto" role="group" aria-label="Basic example"><!-- basic example?-->
					<button type="button" class="btn btn-secondary bg-dark border-0 mx-auto" ng-click="issueOption()" >Newest Issues</button>
					<button type="button" class="btn btn-secondary bg-dark border-0 mx-auto" ng-click="bookOption()">Newest Books</button>
				</div>
			</div>
			<div class="card" ng-repeat= "issue in issueList|limitTo:10:begin|orderBy :'-issueID'" ng-show="issueMode">
				<div class="row">
					<div class="col-2">
						<a href='/issue/{{issue.issueID}}'> <img style="width:100px; height:85%;" class="card-img-top ml-3 mt-3" src="{{issue.coverImage}}" alt="Issue Image"> </a>
					</div>
					<div class="col-5">
					
						<div class="card-body">
							<a  href="/issue/{{issue.issueID}}" > <!-- add this before issue/...  /book/{{book.bookID}}"-->
								<h5 class="card-title">{{issue.title}} </h5>
							</a>
							<p class="card-text">Volume #: {{issue.volume}}</p>
							<p class="card-text">Issue #: {{issue.issueNum}}</p>
							<p class="card-text">Year: {{issue.year}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="card" ng-repeat="book in books| limitTo:10|orderBy :'-bookID'"ng-show="!issueMode">
				<div class="row">
					<div class="col-6">
						<div class="card-body">
							<h5 class="card-title"><a href="/book/{{book.bookID}}"> {{book.title}}</a></h5>
							<p class="card-text">Number of Issues: {{book.numberOfIssues}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-header bg-dark text-light font-weight-bold" > Newest Articles</div>
			</div>
			<div class="card" ng-repeat="article in articleList|limitTo: 10|orderBy :'-articleId'">
				<div class="row">
					<div class="col-8">
						<div class="card-body">
							<h5 class="card-title"><a href="/article/{{article.articleId}}">{{article.title}}</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>