<div class="container-fluid">
	<div class="row" position="relative" style="margin-top:3%;margin-bottom:3% ">
		<div class="col-sm-7">
		<!--new issues -->
			<div class="card">
				<div class="card-header bg-dark text-light font-weight-bold" >New Issues</div>
			</div>
			<div class="card" ng repeat= "issue in issues| limitTo:10">
				<div class="row">
					<div class="col-2">
						<a href='/issue/{{issue.issueID}}'> <img class="card-img-top" src="/resources/Placeholder.png" alt="Issue Image"> </a><!-- add this before issue/...  /book/{{book.bookID}}"-->
					</div>
					<div class="col-4">
					
						<div class="card-body">
							<a  href="/issue/{{issue.issueID}}" > <!-- add this before issue/...  /book/{{book.bookID}}"-->
								<h5 class="card-title">{{issue.title}} </h5>
							</a>
							<p class="card-text">Volume #: {{issue.volumeNum}}</p>
							<p class="card-text">Issue #: {{issue.issueNum}}</p>
							<p class="card-text">Year: {{issue.year}}</p>
						</div>
					</div>
				</div>
			</div>
			<!--Use for testing purpose
					<div class="col-4 bg-light">
						<div class="card-body">
							<a  href="/issue/{{test.issueID}}" > <h5 class="card-title">{{test.title}} </h5> </a>
							<p class="card-text">Volume #: {{test.volume}}</p>
							<p class="card-text">Issue #: {{test.issueNum}}</p>
							<p class="card-text">Year: {{test.year}}</p>
						</div>
					</div>	
						<!-- erase this part after testing-->
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-header bg-dark text-light font-weight-bold" > This Season's Series </div>
			</div>
			<!--Copy and paste this for every row-->
			<!--row1-->
			<div class="card" ng-repeat="book in books|limitTo: 10">
				<div class="row">
					<div class="col-4">
						<img class="card-img-top" src="placeholder.png" alt="Series image" href="/book/angularstuffhere">
					</div>
					<div class="col-8">
						<div class="card-body">
							<h5 class="card-title"><a href="/book/{{book.bookID}}">{{book.title}}</a></h5>
							<p class="card-text">Number of Issues: {{book.numberOfIssues}}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- This div is use to create an book. Erase after we can create an issue in a specific book-->
				<div class="form-group">
					<a class="btn btn-primary" href="/book" role="button">Add book</a>
				</div>
				<!--end>-->
		</div>
	</div>
</div>
</div>