<!--temp change for logged in landing page, will need to add to seperate div lager on.-->
<div class="container-fluid">
	<!-- TODO try to get the buttons looking aligned and not to cramped-->
	<div class="row align-items-center">
		<div class="btn-group btn-group-toggle" data-toggle="buttons">
  			<label class="btn btn-secondary active">
  			<!-- this will be the same display as the the original landing page-->
    			<input type="radio" name="loggedInLanding" id="Home" autocomplete="off" checked> Home
  			</label>
  			<label class="btn btn-secondary">
  			<!--this will display a feed for the feed of info from users that the logged in user follows-->
    			<input type="radio" name="loggedInLanding" id="followedUsers" autocomplete="off"> Followed Users
  			</label>
  			<!-- this will display a feed about info from comics the user follows-->
  				<label class="btn btn-secondary">
    		<input type="radio" name="loggedInLanding" id="follwedComics" autocomplete="off"> Followed Comics
  			</label>
		</div>
	</div>
	<div class="row" position="relative">
		<div class="col-sm-7">
			<div class="card">
				<div class="card-header">
					New Issues
				</div>
			</div>
			<!--Copy and paste this for every row-->
			<!--row 1-->
			<div class="card">
				<div class="row">
					<div class="col-2">
						<img class="card-img-top" src="/resources/Placeholder.png" alt="Issue Image" href="issue/angularstuffhere">
					</div>
					<div class="col-4">
						<div class="card-body">
							<h5 class="card-title">Issue title</h5>
							<p class="card-text">Volume/Issue numbers, Write, Illustrator, Year</p>
						</div>
					</div>
				</div>
			</div>
			<!--row 2-->
			<div class="card">
				<div class="row">
					<div class="col-2">
						<img class="card-img-top" src="/resources/Placeholder.png" alt="Issue Image" href="issue/angularstuffhere">
					</div>
					<div class="col-4">
						<div class="card-body">
							<h5 class="card-title">Issue title</h5>
							<p class="card-text">Volume/Issue numbers, Write, Illustrator, Year</p>
						</div>
					</div>
				</div>
			</div>
			<!--row 3-->
			<div class="card">
				<div class="row">
					<div class="col-2">
						<img class="card-img-top" src="/resources/Placeholder.png" alt="Issue Image" href="issue/angularstuffhere">
					</div>
					<div class="col-4">
						<div class="card-body">
							<h5 class="card-title">Issue title</h5>
							<p class="card-text">Volume/Issue numbers, Write, Illustrator, Year</p>
						</div>
					</div>
				</div>
			</div>
			<!-- continue for more rows-->
		</div>
		<div class="col-sm-5">
			<div class="card">
				<div class="card-header">
					This Season's Series
				</div>
			</div>
			<!--Copy and paste this for every row-->
			<!--row1-->
			<!-- will need to change the ng repeat later, so that it will be a set number, we wont be displaying all the books-->
			<div class="card" ng-repeat="book in books">
				<div class="row">
					<div class="col-4">
						<img class="card-img-top" src="placeholder.png" alt="Series image" href="/book/angularstuffhere">
					</div>
					<div class="col-8">
						<div class="card-body">
							<h5 class="card-title">{{book.title}}</h5></h5>
							<p class="card-text">Number of Issues: {{book.numberOfIssues}}</p>
						</div>
					</div>
				</div>
			</div>
					<!--row2-->
			<div class="card">
				<div class="row">
					<div class="col-2">
						<img class="card-img-top" src="placeholder.png" alt="Series image" href="/book/angularstuffhere">
					</div>
					<div class="col-4">
						<div class="card-body">
							<h5 class="card-title">Series Title</h5>
							<p class="card-text">Start Date, Number of Issues</p>
						</div>
					</div>
				</div>
			</div>
					<!--row3-->
			<div class="card">
				<div class="row">
					<div class="col-2">
						<img class="card-img-top" src="placeholder.png" alt="Series image" href="/book/angularstuffhere">
					</div>
					<div class="col-4">
						<div class="card-body">
							<h5 class="card-title">Series Title</h5>
							<p class="card-text">Start Date, Number of Issues</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

