<div class="col-md-12">
	<h3>Login</h3>
      
    <form ng-submit="formSubmit()" class="form-center">
        
		<div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="username" placeholder="username" required=""/>
          </div> 

          <div class="form-group">
            <input type="password" class="form-control" ng-model="password" placeholder="password" required=""/>
          </div>

          <div class="form-group" style = "margin-left:10px">
            <button type="submit" class="btn btn-success">Login</button>
			<a dir-herf="" class="text-info" style="cursor:pointer">Forgot Password?</a>
            <!--span class="text-danger">{{ error }}</span>-->
          </div>
		  <div class="form-group" style = "margin-left:10px">
			<a dir-herf="" class="text-info" style="cursor:pointer">Create Account</a>
            <!--span class="text-danger">{{ error }}</span>-->
          </div>
        </div>
    </form>
</div>