<script>
	function getOption(option){
		document.getElementById("choose").value=option;
	}
	
	function hideElement(log, profile){
		document.getElementById("login")=log;
		document.getElementById("signUp")=log;
		document.getElementById("profile")=profile;
	}
</script>
 
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" ng-controller="NavBarController">
	<a class="navbar-brand" href="" style="font-family:Lucida Console; font-size:2vw">ComicBash</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<input id="choose" type="button" value="Choose" class="btn btn-outline-secondary"/ style="color:white" disabled>
				<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
				style="color:white">
				<span class="sr-only">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item" type="button"  onclick=getOption("Tittle");>Tittle </a> 
					<a href="#" class="dropdown-item"  type="button"  onclick=getOption("Writer");>Writer </a>
					<a href="#" class="dropdown-item"  type="button"  onclick=getOption("Illustrator");>Illustrator</a>
					<a href="#"class="dropdown-item"  type="button" onclick=getOption("Issue");>Issue</a>
					<a href="#" class="dropdown-item"  type="button" onclick=getOption("Volume");>Volume</a>
					<a href="#" class="dropdown-item"  type="button"  onclick=getOption("Year");>Year</a>
					<a href="#" class="dropdown-item"  type="button" onclick=getOption("Publisher");>Publisher</a>
					<a href="#" class="dropdown-item"  type="button"  onclick=getOption("Character");>Character</a>
					<div role="separator" class="dropdown-divider"></div>
					<a href="#" class="dropdown-item"  type="button" ;>{{searchTest}}</a>
					<div role="separator" class="dropdown-divider"></div>
					<a href="#" class="dropdown-item"  type="button" onclick=getOption("User");>User</a>
				</div>
			</div>
			<input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="seach input with segmented dropdown button">
			<a  class="nav-link" type="submit">Search</a>
			<ul class="nav justify-content-end">
				<li class="nav-item active">
					<a id="profile" class="nav-link" type="button" href="#" style="visibility:hidden">profile </a>
				</li>
				<li class="nav-item active">
					<a id="login" class="nav-link" type="button"href="#">Login</a>
				</li>
				<li class="nav-item active">
					<a id="signUp" class="nav-link" type="button" href="#">Sign up</a>
				</li>
			</ul>
		</div>
	</div>
</nav>