<div ng-controller="NavBarController">
  
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand font-weight-bold" href="/" style="font-family:Lucida Console; margin-right:20px">ComicBash</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
			<form class="form-inline mr-auto w-75">
				<div class="input-group mb-3 w-100">
					<div class="input-group-prepend">
						<div class="btn btn-outline-secondary text-white" disabled>{{category}}</div>
						<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						
						<div class="dropdown-menu">
							<a ng-repeat="item in data" ng-click="setCategory(item)" class="dropdown-item" name={{item}} style="cursor:pointer">{{item}}</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" ng-click= "setCategory('User')" style="cursor:pointer">User</a>
							<!-- <div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item">Advanced Search</a> -->
						</div>
					</div>
					<input ng-readonly="categoryMode" ng-model="search" class="form-control" type="text" placeholder="Search" aria-label="seach input with segmented dropdown button" >
					<button ng-click="startSearch()" class="btn btn-outline-secondary input-group-append text-white" type="submit">Search
						<i class="fa fa-search ml-2 mt-1"></i>
					</button>
				</div>
			</form>
			<ul class="navbar-nav mb-3 mb-lg-3">
				<li class="nav-item">
					<a ng-show="loggedIn" class="nav-link text-light font-weight-bold"  href="/profile/{{key.user}}" >Profile</a><!--/{{currentUser._id}}-->
				</li>
				<li class="nav-item">
					<a  ng-show="!loggedIn" class="nav-link text-white font-weight-bold" href="/login" >Login</a>
				</li>
				<li class="nav-item">
					<a ng-show="!loggedIn" class="nav-link text-white font-weight-bold" href="/signup" >Signup</a>
				</li>
				<li class="nav-item">
					<a ng-click='logOut()' ng-show="loggedIn" class="nav-link text-white font-weight-bold" href="/" ">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
</div>