<div class="container-fluid">

	<div class="row">
	
		<div class="col-md-4">
		
			<img src="http://via.placeholder.com/300x250"/>
			<h2>William Hang </h2>
			<a class="btn btn-primary btn-xs" href="#" role="button">Likes</a>
			<a class="btn btn-primary btn-xs" href="#" role="button">Friends</a>
			<a class="btn btn-primary btn-xs" href="#" role="button">Favorites</a>
			<a class="btn btn-primary btn-s" href="#" role="button">Follow</a>
		</div>
		
		<div class="col-md-8">
			
			<h2>My Profile Page</h2>
			<p class ="lead">
			Hello, welcome to my profile page where you will see what comic boobs I've been reading.
			</p>
			<p>
			I like this. 
			<img src="http://via.placeholder.com/100x100"/>
			And this.
			<img src="http://via.placeholder.com/100x100"/>
			And also this.
			<img src="http://via.placeholder.com/100x100"/>
			</p>
			<h2> William's Activities</h2>
			<p>	William liked this "Comic Title"</p>
			<p> William added "Title" to his Favorites</p>
			<p> William followed Brennan</p>
			 <h2> Blah blah blah</h2>
			 
			 
			 <h2>Comments:</h2>
			 <p>
			 Dan: Your profile is trash like your taste in comics.
			 </p>
			
			
		</div>
		
	</div>
	
</div>