<div class="row mt-3">
	<div class="col-9 mx-auto bg-light pb-2">
		<div class="row ml-3">
			<div class="col-4">
				<h1>{{user.username}}</h1>
			</div>
			<div class="col-8">
				<div class="btn-group w-25 ml-auto pt-2"" role="group" aria-label=""  ng-show="!showEdit && !editMode">
					<button class="btn btn-success h-75" ng-click="edit()">Edit Profile</button>
					<a href="/profile/{{userId}}/setting" ><button class="btn btn-success h-100" ng-click="setting()">Advanced Setting</button></a>
				</div>
				<div class="w-50 ml-auto pt-1 " ng-show="editMode">
					<button class="btn btn-danger h-75" ng-click="cancelEdit()">Cancel Changes</button>
					<button class="btn btn-primary h-75" ng-click="submitEdit()">Submit Changes</button>
				</div>
			</div>
		</div>
		<div class="row ml-5">
			<div class="col-4 d-inline">
				<img src="{{user.profilePic}}" style="width:300; height:250;"></img>
				<input ng-show="editMode" name="avatar-1" type="file">
				<!--<div class="kv-avatar-hint"><small>Select file < 1500 KB</small></div>-->
			</div>		
			<div class="col-6 ml-2 d-inline">
				<P class="h-100" ng-show="!editMode">{{user.bio}}</p>
				<textarea class="form-control h-100" ng-show="editMode">{{user.bio}}</textarea>
			</div>
		</div>
		<hr class="my-4">
		<div class="row pl-2">
			<div class="col-2">
				<h2>Favorites</h2>
			</div>
			<div class="col-9 mr-auto">
				<div class="row">
					<h5>Comic Books:</h5>
					<p class="form-control" ng-show="!editMode"> Star Wars Adventures</p>
					<textarea class="form-control" ng-show="editMode"> Star Wars Adventures</textarea>
				</div>
				<div class="row mt-2">
					<h5>Issues:</h5>
					<p class="form-control" ng-show="!editMode">1, 2, and 3</p>
					<textarea class="form-control" ng-show="editMode"> 1, 2, and 3</textarea>
				</div>
			</div>
		</div>
		<div class="row pt-5 pl-2">
			<h2> {{user.username}}'s Activities</h2>
			<hr class="my-4">
		</div>
	</div>
</div>
