<div class="container">
	<div class="row" style="margin:5%">
		<div class="col-md-7 bg-dark">
			<h3 class="text-light" style="margin:3%">Sign Up</h3>
      
			<form ng-submit="formSubmit()" class="form-center">
        
				<div class="col-md-11">
					<div class="form-group">
						<input type="email" class="form-control" ng-model="signup.email" placeholder="Email" required focus/>
					</div>

					<div class="form-group">
						<input type="username" class="form-control" ng-model="signup.username" placeholder="Username" required=""/>
					</div> 

					<div class="form-group">
						<input type="password" class="form-control" ng-model="signup.password" placeholder="Password" required=""/>
					</div>


					<div class="form-group">
						<input type="password" class="form-control" ng-model="signup.passwordConfirm" placeholder="Confirm Password"  password-match="signup.password" required=""/>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.question1" placeholder="Security Question 1" required=""/>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.answer1" placeholder="Security Answer 1" required=""/>
					</div> 

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.question2" placeholder="Security Question 2" required=""/>
					</div>


					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.answer2" placeholder="Security Answer 2" required=""/>
					</div>


					<div class="form-group" style="margin-left:10px">
						<button type="submit" ng-click="createAccount(signup)" class="btn btn-success">Create Account</button>
					</div>
					<div style="margin-bottom:3%">
						<a href="/login" class="text-light" style="cursor:pointer">Already Have an Account? Sign in!</a>
					</div>	
				</div>
			</form>
			<div  ng-show= "error" class="alert alert-danger" role="alert">{{error}}</div>
		</div>
	</div>
</div>