<div class="container">
	<div class="row">
		<div class="col-md-12 ">
			<h3>Sign Up</h3>
      
			<form ng-submit="formSubmit()" class="form-center">
        
				<div class="col-md-4">
					<div class="form-group">
						<input type="email" class="form-control" ng-model="signup.email" placeholder="Email" required focus/>
					</div>

					<div class="form-group">
						<input type="username" class="form-control" ng-model="signup.username" placeholder="Username" required=""/>
					</div> 

					<div class="form-group">
						<input type="password" class="form-control" ng-model="signup.password" placeholder="Password" required=""/>
					</div>


					<div class="form-group">
						<input type="password" class="form-control" ng-model="signup.passwordConfirm" placeholder="Confirm Password"  password-match="signup.password" required=""/>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.question1" placeholder="Security Question 1" required=""/>
					</div>

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.answer1" placeholder="Security Answer 1" required=""/>
					</div> 

					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.question2" placeholder="Security Question 2" required=""/>
					</div>


					<div class="form-group">
						<input type="text" class="form-control" ng-model="signup.answer2" placeholder="Security Answer 2" required=""/>
					</div>


					<div class="form-group" style = "margin-left:10px">
						<button type="submit" class="btn btn-success">Login</button>
						<a href="/login" class="text-info" style="cursor:pointer">Already Have an Account? Sign in!</a>
            
					</div>
				</div>
			</form>
		</div>
	</div>
</div>